body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #69f0ae;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}
.Montserrat {
    font-family: 'Montserrat', sans-serif;
}
/* Navbar logo height width */
#happen-nav-logo {
    margin: -4px;
    height: 71.4px;
    width: 114.2px;
}
/* Navbar logo h&w END */
.profile-avatar {
    max-height: 44px;
    padding-bottom: 2px; 
    border-radius: 50%;
}