#container-about-me {
    margin-bottom: 20px;
}
#container-inspirational-quote {
    margin-top: 18px;
    margin-bottom: 20px;
}
#container-productivity-articles {
    margin-top: 18px;
}

/* Styling for Articles div */

.articles-ajax {
    padding: 20px;
    border-bottom: 2px solid lightslategray;
}

.articles-ajax h5 {
    font-weight: bold;
}