#container-about-me {
    margin-bottom: 20px;
}
#container-inspirational-quote {
    margin-top: 18px;
    margin-bottom: 20px;
}
#container-productivity-articles {
    margin-top: 18px;
}

/* Styling for Articles div */
.img-ajax {
    height: 300px;
}