/* #calander-table-container {
    margin: 2px 1px 2px 0px;
}
#calander-form-container {
    margin: 2px 0px 2px 1px;
} */
#calander-table {
    margin: 2px 1px 2px 0px;
}
#form-container {
    margin: 2px 0px 2px 1px;
}